* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: #4c70ba url("../public/home-cover.png");
  background-size: cover;
}
.header .nav {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 220px;
  height: auto;
}
.logo a img {
  width: 100%;
  height: auto;
  display: inline-block !important;
}
.signup {
  width: 25%;
  /* border: 1px solid black; */
}
.signup #subscribe {
  background-color: rgb(62, 226, 62);
  color: white;
  padding: 2.3% 4.9%;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-shadow: 0px 2px 0px rgb(0 0 0 / 10%);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 3px 0 rgb(0 0 0 / 20%),
    0 0 0 5px rgb(0 0 0 / 10%);
  margin-right: 6%;
  font-weight: bold;
  cursor: pointer;
}
.signup span {
  color: white;
  text-shadow: 0px 2px 0px rgb(0 0 0 / 10%);
}
.signup #login {
  cursor: pointer;
  margin-left: 6%;
  padding: 2.3% 5.9%;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-shadow: 0px 2px 0px rgb(0 0 0 / 10%);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 3px 0 rgb(0 0 0 / 20%),
    0 0 0 5px rgb(0 0 0 / 10%);
  font-weight: bold;
  background: #839ccf;
  color: white;
}

/* LANDING-HEADER  */

.landing-header {
  width: 95%;
  display: flex;
  margin: 3% auto;
  justify-content: space-around;
  align-items: center;
}
.landing-header .dude {
  width: 30%;
  height: 40vh;
  background: url("../public/dude-graduated.png") center no-repeat;
  background-size: cover;
}
.heading {
  width: 58%;
}
.heading h1 {
  color: white;
  font-weight: 400;
}
.heading p {
  margin-top: 4%;
  color: white;
}

/* SECTION 2 */
.benefits {
  margin-top: -3%;
  display: flex;
}
.icon {
  border: 1px solid #eee;
  padding: 3% 0;
  width: 33.3%;
  display: flex;
  flex-direction: column;
}
.icon-img {
  background-color: #d9d9f8;
  padding: 4.2%;
  border-radius: 50%;
  width: 50%;
  height: 120px;
  margin: 0 auto 5%;
}
img {
  width: 100%;
  height: 120px;
}
.icon-content {
  width: 98%;
  margin: 3% 0;
  text-align: center;
  /* border: 1px solid black; */
}
.icon-content .blue {
  margin: 9% 0;
  font-size: 15px;
  color: #5141dd;
  font-weight: 600;
}
.icon-content .short {
  font-size: 15px;
  color: rgb(68, 67, 67);
}

/* FOOTER  */
.footer {
  padding: 3%;
  background: #91abe0 url("../public/home-cover.png");
  background-size: cover;
}
.footer p {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 600;
}

@media (max-width: 850px) {
    .header .nav{
        flex-direction: column;
        text-align: center;
    }
  .signup {
    width: 80%;
    margin: 2% auto;
  }
  .landing-header .dude {
    display: none;
  }
  .heading {
    margin: 6% 0 12%;
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 630px) {
  .benefits {
    flex-direction: column;
  }
  .icon {
    padding: 3%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .icon-img {
    width: 30%;
  }
  .icon-content {
    margin: 0;
  }
  .footer p{
      font-size: 13px;
  }
}
